@import url(../fonts/index.css);

:root {
    --black: #000;
    --grey-1: #30313a;
    --grey-2: #3e4049;
    --grey-3: #363740;
    --grey-4: #75758b;
    --grey-5: #999da9;
    --grey-6: #9c9eab;
    --white-6: #ccc;
    --white-5: #d5d8e3;
    --white-4: #d9dce6;
    --white-3: #dadde7;
    --white-2: #f5f5f9;
    --white-1: #f5f5fc;
    --white: #fff;
    --red-1: #c60000;
    --red-2: #f00;
    --red-3: #ff333f;
    --orange: #ff9533;
    --green-1: #39de54;
    --green-2: #007521;
    --turquoise: #00bfb4;
    --blue-1: #3366ff;
    --blue-2: #00498d;
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, input,
center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: inherit;
    user-select: none;
    font-family: "Poppins";
}

html {
    box-sizing: border-box;
    overflow: hidden auto;
}

a, button, input, textarea, fieldset { outline: none }
a, button, input[type="radio"], input[type="checkbox"] { cursor: pointer }

::-webkit-scrollbar {
    background: var(--background-color);
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 6px;
    border: 2px solid var(--background-color);
}

svg:not(:root) { display: block }
h1, h2, h3, h4, h5, b { font-weight: 600 }

::selection {
    color: var(--white);
    background: #444;
}

h1, h2, h3, h4, h5, p, a, span, button, ::placeholder {
    cursor: default;
    user-select: none;
}

html, body {
    width: 100%;
    min-height: 100vh;
}

@keyframes turn-animation {
    from { transform: rotate(0) }
    to { transform: rotate(1turn) }
}

img {
    ~ span { display: none }

    &.failed {
        display: none;
        ~ span { display: inline-block }
    }
}

body {
    background-color: var(--white-1);
    background: radial-gradient(42% 130% at 80% 75%, var(--white-5) 0%, var(--white-1) 35%);

    form {
        gap: 1rem;

        .input-box {
            height: 46px;
            width: 300px;
            padding: 0;

            input {
                width: calc(100% - 24px);
                height: calc(100% - 12px);
                padding: 6px 12px;
                margin: 0;
                outline: none;
                border-radius: 5px;
                font-size: 1rem;
                background: var(--white);
                transition: all .2s;
                box-shadow: 0 0 10px -3px var(--white-4);

                &:is([type="submit"]) {
                    background: var(--grey-3);
                    font-size: 1.1rem;
                    color: var(--white);
                    cursor: pointer;
                    opacity: 1;
                    box-shadow: 0 0 10px -3px var(--grey-4);

                    &:hover, &:focus { opacity: .9 }
                }

                &::placeholder {
                    font-family: "Poppins";
                    font-weight: 400;
                    color: var(--grey-4);
                }
            }

            &.style-1 input {
                border: 1px solid var(--white-6);
                &:focus { border-color: var(--grey-5) }
            }
        }
    }
}
