@charset "UTF-8";
@import url(../fonts/index.css);
:root {
  --black: #000;
  --grey-1: #30313a;
  --grey-2: #3e4049;
  --grey-3: #363740;
  --grey-4: #75758b;
  --grey-5: #999da9;
  --grey-6: #9c9eab;
  --white-6: #ccc;
  --white-5: #d5d8e3;
  --white-4: #d9dce6;
  --white-3: #dadde7;
  --white-2: #f5f5f9;
  --white-1: #f5f5fc;
  --white-0: #f6fafd;
  --white: #fff;
  --red-1: #c60000;
  --red-2: #f00;
  --red-3: #ff333f;
  --red-3b: #ff333f2a;
  --red-3-filter: invert(52%) sepia(62%) saturate(7239%) hue-rotate(335deg) brightness(96%) contrast(109%);
  --orange: #ff9533;
  --orange-b: #ff95332a;
  --orange-filter: invert(79%) sepia(52%) saturate(4553%) hue-rotate(336deg) brightness(105%) contrast(101%);
  --green-1: #39de54;
  --green-1b: #39de5444;
  --green-1-filter: invert(88%) sepia(28%) saturate(6263%) hue-rotate(71deg) brightness(104%) contrast(74%);
  --green-2: #007521;
  --turquoise: #00bfb4;
  --turquoise-b: #00bfb433;
  --turquoise-filter: invert(59%) sepia(76%) saturate(2515%) hue-rotate(135deg) brightness(93%) contrast(101%);
  --blue-1: #36f;
  --blue-1b: #36f3;
  --blue-1-filter: invert(29%) sepia(100%) saturate(2211%) hue-rotate(219deg) brightness(102%) contrast(102%);
  --blue-2: #00498d;
  --blue-2-filter: invert(20%) sepia(84%) saturate(1787%) hue-rotate(191deg) brightness(86%) contrast(105%);
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, input,
center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Poppins";
}

html {
  box-sizing: border-box;
  overflow: hidden auto;
}

a, button, input, textarea, fieldset {
  outline: none;
}

a, button, input[type=radio], input[type=checkbox] {
  cursor: pointer;
}

::-webkit-scrollbar {
  background: var(--grey-3);
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--white-1);
  border-radius: 6px;
  border: 2px solid var(--grey-3);
}

svg:not(:root) {
  display: block;
}

h1, h2, h3, h4, h5, b {
  font-weight: 600;
}

::-moz-selection {
  color: var(--white);
  background: #444;
}

::selection {
  color: var(--white);
  background: #444;
}

::-moz-placeholder {
  cursor: default;
  -moz-user-select: none;
       user-select: none;
}

h1, h2, h3, h4, h5, p, a, span, button, ::placeholder {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html, body {
  width: 100%;
  min-height: 100vh;
}

@keyframes turn-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
img ~ span {
  display: none;
}
img.failed {
  display: none;
}
img.failed ~ span {
  display: inline-block;
}

body {
  padding-top: 65px;
  background-color: var(--white-1);
  background: radial-gradient(42% 130% at 80% 75%, var(--white-5) 0%, var(--white-1) 35%);
  background-attachment: fixed;
}
body header {
  position: fixed;
  width: calc(100% - 110px);
  height: 65px;
  background: var(--grey-3);
  top: 0;
  right: 0;
  border-bottom-left-radius: 20px;
  padding: 0 1rem 0 2rem;
  color: var(--white);
  box-shadow: -5px 5px 20px -8px var(--grey-3);
  transition: all 0.4s;
  z-index: 11;
}
body header > p {
  font-size: 20px;
}
body header .container {
  gap: 1rem;
}
body header .container .content {
  gap: 0.6rem;
}
body header .container .content .avatar {
  width: 40px;
  height: 40px;
  background: var(--white);
  border-radius: 50%;
}
body header .container .content .avatar img {
  width: 95%;
  height: 95%;
}
body header .container .content p {
  font-size: 1.1rem;
  font-weight: 300;
}
body header .container button {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  opacity: 1;
  transition: all 0.2s;
  cursor: pointer;
}
body header .container button:hover, body header .container button:focus {
  opacity: 0.8;
}
body nav {
  width: 50px;
  height: 100%;
  position: fixed;
  background: var(--grey-3);
  padding-top: 100px;
  transition: all 0.4s;
  overflow: hidden;
  top: 0;
  left: 0;
  box-shadow: 8px 0 20px -4px var(--white-6);
  z-index: 10;
}
body nav section {
  position: absolute;
  width: 250px;
}
body nav section h4 {
  background: var(--grey-1);
  height: 50px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--grey-6);
  line-height: 50px;
}
body nav section ul {
  list-style: none;
}
body nav section ul li {
  background: none;
  width: 100%;
  height: 50px;
  cursor: pointer;
  opacity: 1;
  transition: all 0.2s;
}
body nav section ul li .icon {
  width: 50px;
  height: 50px;
  position: relative;
  pointer-events: none;
}
body nav section ul li .icon img {
  width: 50%;
  height: 50%;
}
body nav section ul li p {
  padding-left: 4px;
  color: var(--grey-6);
  font-size: 1rem;
  pointer-events: none;
}
body nav section ul li.selected {
  background: var(--grey-2);
}
body nav section ul li.selected .icon::before {
  content: "";
  position: absolute;
  display: block;
  width: 3px;
  height: 100%;
  background: var(--white);
  left: 0;
}
body nav section ul li:hover, body nav section ul li:focus {
  opacity: 85%;
  background: var(--grey-2);
}
body nav section:nth-child(1) {
  top: 100px;
}
body nav section:nth-child(2) {
  top: 300px;
}
body nav section:nth-child(3) {
  top: 500px;
}
body nav:hover {
  width: 250px;
}
body main:not(#login) {
  position: relative;
  width: calc(100% - 110px - 2rem);
  height: calc(100% - 65px);
  left: 50px;
  transition: all 0.4s;
  padding: 2rem 2rem 10px 60px;
}
body main#docs > section.layout-section {
  width: calc(100% - 48px);
  margin-bottom: 1.5rem;
}
body form {
  gap: 1rem;
}
body form .input-box {
  height: 46px;
  width: 300px;
  padding: 0;
  gap: 5px;
}
body form .input-box label {
  font-size: 1.1rem;
  font-weight: 300;
}
body form .input-box > input, body form .input-box > select {
  width: calc(100% - 24px);
  height: calc(100% - 12px);
  padding: 6px 12px;
  margin: 0;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  background: var(--white);
  transition: all 0.2s;
  box-shadow: 0 0 10px -3px var(--white-4);
  border: 1px solid var(--white-6);
}
body form .input-box > input:is([type=submit]), body form .input-box > select:is([type=submit]) {
  background: var(--grey-3);
  font-size: 1.1rem;
  color: var(--white);
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 0 10px -3px var(--grey-4);
}
body form .input-box > input:is([type=submit]):hover, body form .input-box > input:is([type=submit]):focus, body form .input-box > select:is([type=submit]):hover, body form .input-box > select:is([type=submit]):focus {
  opacity: 0.9;
}
body form .input-box > input::-moz-placeholder, body form .input-box > select::-moz-placeholder {
  font-family: "Poppins";
  font-weight: 400;
  color: var(--grey-4);
}
body form .input-box > input::placeholder, body form .input-box > input:is(select), body form .input-box > select::placeholder, body form .input-box > select:is(select) {
  font-family: "Poppins";
  font-weight: 400;
  color: var(--grey-4);
}
body form .input-box > input option:disabled, body form .input-box > select option:disabled {
  color: var(--grey-6);
}
body form .input-box > input:focus, body form .input-box > select:focus {
  border-color: var(--grey-5);
}
body form .input-box select {
  width: 100%;
}
body form .input-box.file {
  height: 125px;
  margin: 14px 0 8px;
}
body form .input-box.file p {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 5px;
}
body form .input-box.file .drop-area {
  display: flex;
  align-items: center;
  width: calc(100% - 24px);
  height: calc(100% - 12px - 2rem);
  padding: 6px 12px;
  border: 2px dashed var(--white-6);
  border-radius: 3px;
  transition: all 0.2s;
  position: relative;
}
body form .input-box.file .drop-area span.btn {
  flex-shrink: 0;
  font-size: 1.1rem;
  width: 100%;
  gap: 1rem;
  color: var(--grey-4);
}
body form .input-box.file .drop-area input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  outline: 0;
}
body form .input-box.style-2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 64px;
  margin-top: 1rem;
}
body section.layout-section {
  background: var(--white);
  border-radius: 10px;
  border-top: 8px solid var(--grey-3);
  margin-top: 8px;
  box-shadow: 0 0 10px -3px var(--white-3);
  padding: 20px 24px;
}
body section.layout-section .title {
  color: var(--black);
}
body section.layout-section .title h2 {
  font-weight: 400;
  font-size: 1.25rem;
}
body section.layout-section .title h2 span {
  font-size: 14px;
  font-weight: 275;
}
body section.layout-section .title h2 span::before, body section.layout-section .title h2 span::after {
  font-size: 13px;
}
body section.layout-section .title h2 span::before {
  content: "(";
}
body section.layout-section .title h2 span::after {
  content: ")";
}
body section.layout-section .title a {
  text-decoration: none;
  color: inherit;
  font-weight: 200;
  font-size: 1rem;
  cursor: pointer;
  opacity: 1;
  transition: all 0.2s;
}
body section.layout-section .title a::after {
  content: ">";
  position: relative;
  font-size: 1.25rem;
  font-weight: 600;
  margin-left: 10px;
  top: 2px;
}
body section.layout-section .title a:hover, body section.layout-section .title a:focus {
  opacity: 75%;
}
body section.layout-section .title .buttons {
  gap: 1.2rem;
}
body section.layout-section .title .buttons > button, body section.layout-section .title .buttons .search {
  padding: 7px 15px;
  gap: 15px;
  background: var(--white-0);
  border-radius: 3px;
  border: 1px solid var(--white-5);
}
body section.layout-section .title .buttons > button span, body section.layout-section .title .buttons .search span {
  pointer-events: none;
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--grey-6);
}
body section.layout-section .title .buttons button {
  cursor: pointer;
  transition: all 0.2s;
  opacity: 1;
}
body section.layout-section .title .buttons button:hover, body section.layout-section .title .buttons button:focus {
  opacity: 75%;
}
body section.layout-section .title .buttons .search {
  gap: 10px;
}
body section.layout-section .title .buttons .search button, body section.layout-section .title .buttons .search input {
  height: 100%;
  background: none;
  border: none;
  padding: 0;
}
body section.layout-section .title .buttons .search button:hover, body section.layout-section .title .buttons .search button:focus {
  opacity: 75%;
}
body section.layout-section .title .buttons .search input {
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--grey-4);
  line-height: 1.2rem;
}
body section.layout-section .title .buttons .search input::-moz-placeholder {
  color: var(--grey-6);
}
body section.layout-section .title .buttons .search input::placeholder {
  color: var(--grey-6);
}
body section.layout-section .title .buttons .search .clear {
  transform: rotate(45deg);
}
body section.layout-section hr {
  height: 1px;
  background-color: var(--white-3);
  border: none;
}
body section.layout-section .content {
  margin-top: 0.5rem;
}
body section.layout-section .content:is(ul) {
  display: table;
  list-style: none;
  width: 100%;
  border-collapse: collapse;
}
body section.layout-section .content:is(ul) li {
  display: table-row;
  position: relative;
}
body section.layout-section .content:is(ul) li span {
  text-align: left;
  font-weight: 300;
  display: table-cell;
  font-size: 1rem;
  line-height: 3.2rem;
}
body section.layout-section .content:is(ul) li span a {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
  opacity: 1;
}
body section.layout-section .content:is(ul) li span a:hover, body section.layout-section .content:is(ul) li span a:focus {
  opacity: 0.8;
}
body section.layout-section .content:is(ul) li span:first-child {
  padding-left: 1.2rem;
}
body section.layout-section .content:is(ul) li span:first-child a {
  -webkit-text-decoration: underline 1px solid transparent;
          text-decoration: underline 1px solid transparent;
  color: inherit;
}
body section.layout-section .content:is(ul) li span:first-child a:hover, body section.layout-section .content:is(ul) li span:first-child a:focus {
  text-decoration-color: initial;
}
body section.layout-section .content:is(ul) li span:last-child {
  text-align: right;
  padding-right: 1.2rem;
}
body section.layout-section .content:is(ul) li span:last-child a {
  color: var(--blue-2);
}
body section.layout-section .content:is(ul) li span:last-child button.edit {
  filter: var(--blue-2-filter);
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  opacity: 1;
  transition: all 0.2s;
  height: 2.6rem;
  position: relative;
  top: 4px;
}
body section.layout-section .content:is(ul) li span:last-child button.edit:hover, body section.layout-section .content:is(ul) li span:last-child button.edit:focus {
  opacity: 0.8;
}
body section.layout-section .content:is(ul) li::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0.25rem;
  height: 2.5rem;
  border: 1px solid var(--white-5);
  border-radius: 5px;
  pointer-events: none;
}
body section.layout-section .content:is(ul) li.head span {
  line-height: 5rem;
}
body section.layout-section .content:is(ul) li.head::before {
  top: 1.25rem;
}
body section.layout-section .content::-webkit-scrollbar {
  border-radius: 4px;
  background: var(--white-3);
  width: 8px;
  height: 8px;
}
body section.layout-section .content::-webkit-scrollbar-thumb {
  background: var(--grey-3);
  border: none;
}
body section.layout-section.hidden {
  display: none;
}
body section.popup {
  display: none;
}
body section.popup.style-1, body section.popup.style-2 .content {
  background: var(--white);
  padding: 36px 20px;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
body section.popup.style-1 {
  border-radius: 10px;
  border-top: 8px solid var(--grey-3);
  margin-top: 8px;
  box-shadow: 0 0 10px -3px var(--white-3);
  width: 500px;
}
body section.popup.style-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6666666667);
  z-index: 20;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body section.popup.style-2 .content {
  max-height: 600px;
  max-width: 600px;
}
body section.popup.style-2 .content .title {
  text-align: center;
}
body section.popup.style-2 .content .title h1 {
  text-transform: uppercase;
  color: var(--grey-3);
  font-size: 1.9rem;
  padding: 4px 0;
}
body section.popup.style-2 .content .title span.date {
  font-size: 0.9rem;
  font-weight: 300;
}
body section.popup.style-2 .content p {
  margin: 2rem 0;
  padding: 0 2rem;
  text-align: center;
  max-width: 468px;
}
body section.popup.style-2 .content .buttons {
  gap: 12px;
}
body section.popup.style-2 .content .buttons button {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  color: var(--white);
  opacity: 1;
  transition: all 0.2s;
  width: 250px;
  height: 50px;
  font-size: 1.1rem;
  font-family: "Poppins";
  font-weight: 400;
}
body section.popup.style-2 .content .buttons button:first-child {
  background: var(--grey-3);
}
body section.popup.style-2 .content .buttons button:first-child:hover, body section.popup.style-2 .content .buttons button:first-child:focus {
  opacity: 87.5%;
}
body section.popup.style-2 .content .buttons button:last-child {
  background: var(--black);
}
body section.popup.style-2 .content .buttons button:last-child:hover, body section.popup.style-2 .content .buttons button:last-child:focus {
  opacity: 0.8;
}
body section.popup.active {
  display: flex;
}
body.extended header {
  width: calc(100% - 60px - 250px);
}
body.extended main {
  left: 250px;
  width: calc(100% - 250px);
}

@media screen and (max-width: 900px) {
  :not(:root, html, body) {
    display: none !important;
  }
  body {
    display: flex;
    background: var(--black);
    width: 100vw;
    height: 100vh;
  }
  body::before, body::after {
    content: "NULOS";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-size: min(5vw, 5vh);
  }
  body::after {
    content: "Achète-toi un PC";
    transform: translate(-50%, 50%);
  }
  @supports (width: min(1px, 1dvw)) {
    body, body main {
      width: 100dvw;
      height: 100dvh;
    }
  }
}/*# sourceMappingURL=styles.css.map */